<br>
<section class="container">
    <div class="container-fluid">
        <div class="row">
            <div  class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        Ventas por fecha
                      </h3>
      
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-4 form-group">
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="fas fa-calendar-alt"></i>
                                      </span>
                                  </div>
                                  <input type="text" class="form-control float-right" id="calendario">
                              </div>
                          </div>
                          <div class="col-md-2">
                              <button class="btn btn-outline-info" id="ventas">
                                  <i class="fas fa-chart-line"></i>Graficar 
                              </button>
                          </div>
                      </div>

                      <div class="row justify-content-center align-items-center" id="resultados" style="display: none;">
                        <div class="col-md-3">
                          <button class="btn btn-outline-info" id="btn_reporte_venta">
                              <i class="fas fa-chart-line"></i>Imprimir Reporte 
                          </button>
                        </div>  
                        <div class="col-md-8">
                              <canvas id="ventas_p" width="60" height="50"></canvas>
                          </div>
                      </div>
                  </div>
                    <!-- /.card-body -->
                  </div>
              </div>
            
              <div  class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="far fa-chart-bar"></i>
                        Total Platillos Vendidos
                      </h3>
      
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        <canvas id="ventas_total" width="90" height="50"></canvas>
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal para mostrar reporte-->
<div class="modal fade" id="modal_pdf" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-file-pdf"></i>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <iframe id="frame_pdf" src="" frameborder="0" scrolling="no" style="height: 600px; width:100%; margin:0;">
              Tu navegador no soporta frames 
          </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="app/controllers/graficas/ventas.js"></script>