<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-user-circle"></i>  Empleados
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_empleado" method="POST" autocomplete="off" onsubmit="return false">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input type="text" class="form-control" name="nombres" id="nombres" placeholder="Nombres">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellidos">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="far fa-calendar"></i></div>
                                </div>
                                <input type="text" class="form-control" name="edad" id="edad" placeholder="Edad">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-venus-mars"></i></div>
                                </div>
                                <select class="form-control" name="cod_genero" id="cod_genero" placeholder="Género">
                                    
                                </select>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                                </div>
                                <input type="date" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="far fa-address-card"></i></div>
                                </div>
                                <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Dirección">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user-tag"></i></div>
                                </div>
                                <select class="form-control" name="cod_cargo" id="cod_cargo">
                                    
                                </select>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-hand-holding-usd"></i></div>
                                </div>
                                <input type="text" class="form-control" name="salario" id="salario" placeholder="Salario">
                            </div>
                            <button type="submit" class="btn btn-primary" id="btn_frm_empleado">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablaEmpleado" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
<script src="app/controllers/menu/empleado.js"></script>
<script src="app/controllers/menu/mostrarEmpleado.js"></script>