<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-barcode"></i>  Mesa
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_mesa" method="POST" autocomplete="off" onsubmit="return false">
                            <div class="form-group">
                                <label for="cod_mesa_catalogo">Mesa</label>
                                <select class="form-control" name="cod_mesa_catalogo" id="cod_mesa_catalogo"></select>
                            </div>
                            <div class="form-group">
                                <label for="cod_estado">Estado</label>
                                <select class="form-control" name="cod_estado" id="cod_estado"></select>
                            </div>
                            <div class="form-group">
                                <label for="fecha_mesa">Fecha de asignación</label>
                                <input type="date" class="form-control" id="fecha_mesa" name="fecha_mesa">
                            </div>
                            <div class="form-group">
                                <label for="hora_mesa">Fecha de asignación</label>
                                <input type="time" class="form-control" id="hora_mesa" name="hora_mesa">
                            </div>
                            
                            <button type="submit" class="btn btn-primary" id="btn_frm_mesa">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablaMesa" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Número de Mesa</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
<script src="app/controllers/menu/mesa.js"></script>
<script src="app/controllers/menu/mostrarMesa.js"></script>