<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-shopping-basket"></i>  Catálogo de Recetas
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_receta" method="POST" autocomplete="off" onsubmit="return false">
                            <div class="form-group">
                                <label for="nombre">Receta</label>
                                <select class="form-control" name="cod_receta_catalogo" id="cod_receta_catalogo"></select>
                            </div>
                            <div class="form-group">
                                <label for="Productos">Productos</label>
                                <select class="form-control" name="cod_productos" id="cod_productos"></select>
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="text" class="form-control" id="cantidad" name="cantidad">
                            </div>
                            <div class="form-group">
                                <label for="unidad">Unidades</label>
                                <select class="form-control" name="cod_unidad" id="cod_unidad"></select>
                            </div>

                            <button type="submit" class="btn btn-primary" id="btn_frm_receta">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablaReceta" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Receta</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Unidad</th> 
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
<script src="app/controllers/menu/receta.js"></script>
<script src="app/controllers/menu/mostrarReceta.js"></script>