<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-sync"></i> Ejemplificación de Ajax
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_ajax" autocomplete="off" onsubmit="return false">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="clave">
                            </div>

                            <button type="submit" class="btn btn-primary" id="btn_frm">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="app/controllers/ajax.js"></script>