<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-user-circle"></i>  Cargo
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_cargo" method="POST" autocomplete="off" onsubmit="return false">
                            <div class="form-group">
                                <label for="cargo">Cargo</label>
                                <input type="text" class="form-control" id="cargo" name="cargo">
                            </div>

                            <button type="submit" class="btn btn-primary" id="btn_frm_cargo">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablaCargo" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Cargo</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
<script src="app/controllers/cargo.js"></script>
<script src="app/controllers/mostrarCargo.js"></script>