<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-shopping-basket"></i>  Productos
                        </h2>
                    </div>
                    <div class="card-body">
                        <form id="frm_productos" method="POST" autocomplete="off" onsubmit="return false">
                            <div class="form-group">
                                <label for="nombre">Nombre del Productos</label>
                                <input type="text" class="form-control" id="nom_producto" name="nom_producto">
                            </div>
                            <div class="form-group">
                                <label for="tipo_producto">Tipo de Productos</label>
                                <select class="form-control" name="tipo_producto" id="tipo_producto"></select>
                            </div>
                            <div class="form-group">
                                <label for="marca">Marca</label>
                                <select class="form-control" name="marca" id="marca"></select>
                            </div>
                            <div class="form-group">
                                <label for="precio">Precio Unitario</label>
                                <input type="text" class="form-control" id="precio_unitario" name="precio_unitario">
                            </div>
                            <button type="submit" class="btn btn-primary" id="btn_frm_productos">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table id="tablaProductos" class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de Producto</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>
<script src="app/controllers/productos.js"></script>
<script src="app/controllers/mostrarProductos.js"></script>